target/
*.wasm
function_state/
/balancer.toml
/controller.toml
/node.toml
/orchestrator.toml
/cli.toml
.direnv
config/
settings.json
vendor/
secrets/
.venv
.DS_Store
*.swp
symbols.json
.*bkp
*.save
build_functions.log

# Anomaly Detection
anomaly_detection/outputs/logs/*.log
anomaly_detection/outputs/dataframes/*.csv
anomaly_detection/outputs/dataframes/*.parquet

