# SPDX-FileCopyrightText: © 2023 TUM
# SPDX-FileCopyrightText: © 2023 Claudio Cicconetti <c.cicconetti@iit.cnr.it>
# SPDX-License-Identifier: MIT
[workspace]
members = [
    "edgeless_api",
    "edgeless_api_core",
    "edgeless_bal",
    "edgeless_cli",
    "edgeless_function",
    "edgeless_con",
    "edgeless_inabox",
    "edgeless_node",
    "edgeless_orc",
    "edgeless_telemetry",
    # "edgeless_embedded"
]