.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left, .right {
    flex: 1;
    text-align: center;
    color: black;
  }
  
  .center {
    flex: 2;
    text-align: center;
  }
  

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
